__pycache__
*.caffemodel
*.prototxt.txt
*.pyc
.env
*.pt
*.tar
*.caffemodel
api_key.txt
node_modules
nohup.out
build
output
node_modules
services/crawler/httpwww.insecam.org.txt
services/crawler/httpwww.insecam.orgrubytypeAxis2.txt
# python virtual env.
services/web/project/web/
services/crawler/crawler
services/cam/cam
# Yolo runs folder
services/web/project/runs/
